* {
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html,body {
    height: 100%;
    background-color: #000;
    color: #fff;
}

/**
.header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Monument Extended";
    text-transform: uppercase;
    font-size: 100px;
    z-index: -1;
}

.container {
    width: 100%;
    height: 100vh;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #161616;
    animation: slide-out-container 4s cubic-bezier(0.97, 0.01, 0.36, 0.99) 2.8s;
    animation-fill-mode: forwards;
}

.text-wrapper {
    color: white;
    position: absolute;
}

.text {
    font-family: "Monument Extended";
    font-weight: lighter;
    font-size: 60px;
}

.text-1,
.text-3,
.text-4,
.text-8,
.text-9,
.text-11 {
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: 1px white;
}

@keyframes blink {
    0% {
        opacity: 0%;
    }
    1% {
        opacity: 100%;
    }
    99% {
        opacity: 100%;
    }
    100% {
        opacity: 0;
    }
}

.text-1 {
    animation: blink 0.8s linear 0.9s, blink 0.8s linear 2s;
    opacity: 0;
}

.text-2 {
    animation: blink 0.8s linear 0.8s, blink 0.8s linear 2.1s;
    opacity: 0;
}

.text-3 {
    animation: blink 0.8s linear 0.7s, blink 0.8s linear 2.2s;
    opacity: 0;
}

.text-4 {
    animation: blink 0.8s linear 0.6s, blink 0.8s linear 2.3s;
    opacity: 0;
}

.text-5 {
    animation: blink 0.8s linear 0.5s, blink 0.8s linear 2.4s;
    opacity: 0;
}

.text-6 {
    animation: blink 0.8s linear 0.4s, blink 0.8s linear 2.5s, slide-out 1s linear 3.2s;
    opacity: 0;
}

.text-7 {
    animation: blink 0.8s linear 0.5s, blink 0.8s linear 2.4s;
    opacity: 0;
}

.text-8 {
    animation: blink 0.8s linear 0.6s, blink 0.8s linear 2.3s;
    opacity: 0;
}

.text-9 {
    animation: blink 0.8s linear 0.7s, blink 0.8s linear 2.2s;
    opacity: 0;
}

.text-10 {
    animation: blink 0.8s linear 0.8s, blink 0.8s linear 2.1s;
    opacity: 0;
}

.text-11 {
    animation: blink 0.8s linear 0.9s, blink 0.8s linear 2s;
    opacity: 0;
}

@keyframes slide-out {
    0% {
        opacity: 0%;
    }
    1% {
        opacity: 100%;
    }

    19% {
        opacity: 100%;
    }
    20% {
        opacity: 0%;
    }

    39% {
        opacity: 0%;
    }
    40% {
        opacity: 100%;
    }

    59% {
        opacity: 100%;
    }
    60% {
        opacity: 0%;
    }

    79% {
        opacity: 0%;
    }
    80% {
        opacity: 100%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes slide-out-container {
    0% {
        height: 100vh;
    }

    40% {
        height: 100vh;
    }

    100% {
        height: 0%;
    }
}

**/
/********** END OF INTRO TEXT **********/

/********** NAVIGATION BAR **********/
nav {
    top: 0;
    z-index: 5;
    width: 100%;
    padding: 20px 0;
    background: #000;
}

nav .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1550px;
    margin: auto;
    padding: 18px 0;
}

nav .logo a{
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    text-decoration: none;
}

nav .links {
    display: inline-flex;
}

.links li {
    list-style: none;
}

.links li a {
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    text-decoration: none;
    margin-left: 125px;
    transition: all 0.3s ease;
}

.links li a:hover {
    color: rgb(0, 139, 139);
}

.btn {
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
    position: absolute;
    top: 20px;
    right: 14px;
    display: none;
}
/**********  END OF NAVIGATION BAR **********/

/**********  MAIN SECTION BACKGROUND **********/

.welcome-text {
    position: relative;
    display: flex;
    justify-content: center;
    top: 280px;
    font-size: 46px;
}

.wrapper{
    min-height: calc(100vh - 40px);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    bottom: 30px;
  }

.wrapper .static-txt{
    color: #fff;
    font-size: 48px;
    font-weight: 400;
}

.wrapper .dynamic-txts{
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
}

.dynamic-txts li{
    list-style: none;
    color: rgb(0, 139, 139);
    font-size: 48px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;
}

@keyframes slide {
    100%{
        top: -360px;
}

}
.dynamic-txts li span{
    position: relative;
    margin: 5px 0;
    line-height: 90px;
}

.dynamic-txts li span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 90px;
    width: 100%;
    background: #000;
    border-left: 2px solid rgb(0, 139, 139);
    animation: typing 3s steps(10) infinite;
}
@keyframes typing {
    40%, 60%{
        left: calc(100% + 30px);
    }
    100%{
        left: 0;
    }
}

.scrolldown {
    position: relative;
    top: 190px;
    left: -260px;
    width: 40px;
    height: 40px;
    transform: rotate(45deg);
    align-items: center;
}

.scrolldown span {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    animation: animate 1.5s linear infinite;
    opacity: 0;
}

.scrolldown span:nth-child(1) {
    transform: translate(-15px,-15px);
    animation-delay: -0.4s;
}

.scrolldown span:nth-child(2) {
    transform: translate(0,0);
    animation-delay: -0.2s;
}

.scrolldown span:nth-child(3) {
    transform: translate(15px,15px);
    animation-delay: 0s;
}

@keyframes animate {
   0% {
       top: -5px;
       left: -5px;
       opacity: 0;
   }
   25% {
    top: 0px;
    left: 0px;
    opacity: 1;
    }
    50%, 100% {
        top: 5px;
        left: 5px;
        opacity: 0;
    }
} 


/********** END OF MAIN SECTION BACKGROUND **********/


/********** SKILLSET SECTION **********/

section {
    width: 86%;
    height: 700px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    gap: 30px;
}

.section-wrapper {
    flex: 1;
    margin: 0 auto;
}

.section-wrapper h1 {
    color: rgb(0, 139, 139);
    font-size: 36px;
}

.tagcloud {
    display: inline-block;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 26px;
    margin-top: 10px;
}
.tagcloud--item:hover {
    color: rgb(194, 194, 194);
}

.about-me {
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.about-me .text {
    flex: 1;
    padding: 12px 18px;
    margin-left: 22px;
    border-right: 2px solid rgb(141, 141, 141);
    border-bottom: 2px solid rgb(141, 141, 141);
}

.about-me p {
    margin-top: 50px;
    font-size: 26px;
    letter-spacing: 1px;
}

.about-me span {
    color: rgb(141, 141, 141);
}

.about-me h1 {
    font-size: 38px;
    color: rgb(141, 141, 141);
}


.about-me img {
    flex: 1;
    width: 400px;
    height: 480px;
    display: block;
    border-top-left-radius: 80px 80px;
    border-bottom-right-radius: 80px 80px;
}

/********** END OF SKILLSET SECTION **********/

/************** FOOTER **************/

footer {
    height: 300px;
    width: 86%;
    margin: 220px auto;
    border-top: 1px solid rgb(141, 141, 141);
    display: flex;
    justify-content: space-between;
}

footer .contact {
    margin-top: 80px;   
}

.contact h1 {
    font-size: 26px;
}

.contact p {
    margin-top: 20px;
    font-size: 22px;
    color: rgb(141, 141, 141);
}


.social-media {
    margin-top: 80px; 
}

.social-media a {
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    color: rgb(141, 141, 141);
    font-size: 22px;
}

.social-media h1 {
    font-size: 26px;
}

.social-media span {
    color: rgb(0, 139, 139);
    font-size: 38px;
}

/************** END OF FOOTER **************/



/********* RESPONSIVE **********/
@media (max-width: 868px) { 
    .btn {
        display: block;
    }

    .menu-btn.hide {
        display: none;
    }

    nav .links {
        position: fixed;
        top: 0;
        left: -100%;
        height: 100vh;
        width: 100%;
        max-width: 400px;
        background: rgb(20, 20, 20);
        display: block;
        padding: 140px 0;
        text-align: center;
        transition: all 0.3s ease;
        z-index: 100;
    }

    nav .links.active {
        left: 0%;
    }

    nav .links li {
        margin-top: 85px;
        margin-right: 90px;
    }

    .welcome-text {
        font-size: 32px;
    }

    .wrapper .static-txt {
        font-size: 30px;
    }

    .dynamic-txts li {
        font-size: 28px;
    }

    .text {
        font-size: 44px;
    }

    .scrolldown  {
        left: -140px;
    }

    section {
        display: block;
        height: 960px;
    }

    .about-me {
        width: 300px;
    }

    .about-me h1 {
        font-size: 32px;
    }

    .about-me p {
        font-size: 28px;
    }

    .contact h1 {
        font-size: 18px;
    }
    
    .contact p {
        font-size: 16px;
    }

    .social-media a {
        font-size: 18px;
    }
    
    .social-media h1 {
        font-size: 20px;
    }
}

.mobile-section {
    display: none;
}


@media (max-width: 420px) {
    .btn {
        display: block;
    }

    .menu-btn.hide {
        display: none;
    }

    nav .links {
        position: fixed;
        top: 0;
        left: -100%;
        height: 100vh;
        width: 100%;
        max-width: 400px;
        background: rgb(20, 20, 20);
        display: block;
        padding: 140px 0;
        text-align: center;
        transition: all 0.3s ease;
        z-index: 100;
    }

    nav .links.active {
        left: 0%;
    }

    nav .links li {
        margin-top: 85px;
        margin-right: 90px;
    }

    .welcome-text {
        text-align: center;
    }

    .tagcloud {
        display: none;
    }

    .about-me {
        flex: 1;
        display: block;
        margin: 0 auto;
    }

    .about-me .text {
        flex: 1;
        padding: 12px 18px;
        border-right: 2px solid rgb(141, 141, 141);
        border-bottom: 2px solid rgb(141, 141, 141);
    }

    .about-me p {
        font-size: 18px;
    }

    .about-me h1 {
        font-size: 30px;
    }


    .about-me img {
        flex: 1;
        width: 200px;
        height: 280px;
        display: block;
        margin: 0 auto;
        border-top-left-radius: 80px 80px;
        border-bottom-right-radius: 80px 80px;
    }

    .mobile-section {
        display: inline-block;
        padding-top: 120px;
    }

    .mobile-section h1 {
        color: rgb(141, 141, 141);
        font-size: 30px;
    }

    .skillset {
        padding-top: 20px;
    }

    .skillset p {
        font-size: 18px;
        text-align: left;
        padding-top: 16px;
    }

    .skillset span {
        color: rgb(0, 139, 139);
        font-weight: bold;
    }

    .contact h1 {
        font-size: 14px;
    }

    .contact p {
        font-size: 14px;
    }

    .social-media a {
        font-size: 14px;
        display: block;
        margin-top: 2px;
    }

    .social-media h1 {
        font-size: 16px;
    }
}
